@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

html,
body {
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

footer {
    display: flex;
    justify-content: center;
}

.container {
    width: 1200px;
}

ul {
    list-style-type: none;
}

nav {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
}

nav ul {
    display: flex;
}

nav a {
    color: black;
    text-decoration: none;
}

nav li {
    margin: 10px;
}